<div class="container">
  <div class="header--div">
    <h3>All Expenses</h3>
    <select class="dropdown--div">
      <option value="option1">Monthly</option>
      <option value="option2">Yearly</option>
    </select>
  </div>
  <div class="doughnut--div">
    <canvas id="MyDoughnut">{{ charts }}</canvas>
  </div>
  <div class="salary-breakup--div">
    <div class="daily--div">
      <p>Daily</p>
      <h4>$573.12</h4>
    </div>
    <div class="weekly--div">
      <p>Weekly</p>
      <h4>$4.791</h4>
    </div>
    <div class="monthly--div">
      <p>Monthly</p>
      <h4>$19.112</h4>
    </div>
  </div>
</div>
