$blue-color:#2643a7;
$white-color:#eaedf8;
$pure-white:#ffffff;
$grey-color: #858585;
$green-color:	#a0ea7c;
$red-color:#db6961;
$pure-blue:blue;
$transparent-grey-color:rgba(199, 199, 199, 0.3);
$box-shadow-color:rgba(98, 96, 96, 0.2);
$black-color:black;
$light-grey:#f0f0f0;