<div class="container">
  <div class="first--div">
    <div class="container--header">
      <h2>My-Cards</h2>
      <mat-icon>
        <span class="material-symbols-outlined"> more_vert </span>
      </mat-icon>
    </div>
    <div class="image-div">
      <img
        class="card-image"
        src="https://www.visa.co.in/dam/VCOM/regional/ap/india/global-elements/images/in-visa-classic-card-498x280.png"
        alt="visa"
      />
    </div>
    <div class="balance--div">
      <p>Your Balance</p>
      <div class="balance-detail--div">
        <h3>$2190.19</h3>
        <div class="increase-decrease--div">
          <p>
            <mat-icon>
              <span class="material-icons-outlined"> north </span>
            </mat-icon>
            9.14%
          </p>
          <p>
            <mat-icon>
              <span class="material-icons-outlined"> south </span>
            </mat-icon>
            8.39%
          </p>
        </div>
      </div>
      <div class="currency-detail--div">
        <div class="currency">
          <p>Currency</p>
          <p>USD/US Dollar</p>
        </div>
        <div class="status">
          <p>Status</p>
          <p>Active</p>
        </div>
      </div>
    </div>
  </div>
  <button class="button--div">
    <mat-icon>
      <span class="material-icons-outlined"> add </span>
    </mat-icon>
    Add New Card
  </button>
</div>
